:root { /* Typography */
     --spacing-base: 1.4em; /* Base line height and spacing unit */ 
     --font-family-mono: verdana; /* Base font */
     --font-size-base: 1em; /* Base font size */ 
     --font-size-small: 0.9em; /* Small text size */

    /* Colors */ 
    --color-bg-primary: #fcfcfc; /* Main background color */
    --color-bg-secondary: #EAF2FA; /* Secondary background for pre, blockquote */ 
    --color-border: #fcfcfc; /* Borders and decorative elements */ 
    --color-text-primary: #333333; /* Main text color */ 
    --color-text-muted: #888; /* Muted text color */ }

    h1{
     color: #990033;
    }